.match {
  margin: 24px;
  display: flex;
  flex-direction:column;
  

  .teamBottom ::ng-deep {
    div {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #fff;
    }
  }
  
  .teamTop ::ng-deep {
    div {
      background-color: #ccdceb;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  .winner ::ng-deep {
    div {
      background-color: #fff;
      border-radius: 8px;
    }
  }
}