<div class="match" *ngFor="let element of tournament[index]">
  <li *ngIf="element.teams">
    <app-team-card class="teamTop" [team]="element.teams[0]" (click)="winnerOfMatch(element.teams[0], index, element.match)"></app-team-card>
  </li>
  <li *ngIf="element.teams">
    <app-team-card class="teamBottom" [team]="element.teams[1]" (click)="winnerOfMatch(element.teams[1], index, element.match)"></app-team-card>
  </li>
  <li *ngIf="element.winner">
    <app-team-card class="winner" [team]="element.winner" [winner]="element.winner"></app-team-card>
  </li>
</div>