<app-side-nav [isOpen]="isOpen" (closed)="closeSideNav()" (formValue)="getValuefromSide($event)" ></app-side-nav>
<mat-toolbar class="header">
  <span>{{tournamentTitle}}</span>
  <span class="example-spacer"></span>
  <button class="reset-button" aria-label="Example icon-button with share icon" (click)="createTournament()">
    <span class="material-symbols-outlined">
      restart_alt
    </span>
  </button>
  <button class="config-button" aria-label="Example icon-button with heart icon" (click)="openSideNav()">
    <p>Tournament Config</p>
  </button>
</mat-toolbar>
<main id="tournament">
  <ul class="round" class="round" *ngFor="let num of rounds; let i = index;">
    <app-team-match [tournament]="tournament" [index]="i" (teamWinner)="chooseWinner($event)"></app-team-match>
  </ul>
</main>