<app-side-nav [isOpen]="isOpen" (closed)="closeSideNav()" (formValue)="getValuefromSide($event)" ></app-side-nav>
<mat-toolbar>
  <span>{{tournamentTitle}}</span>
  <span class="example-spacer"></span>
  <button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openSideNav()">
    Tournament Config
  </button>
  <button class="example-icon" aria-label="Example icon-button with share icon" (click)="createTournament()">
    Reset Tournament
  </button>
</mat-toolbar>
<main id="tournament">
  <ul class="round" class="round" *ngFor="let num of rounds; let i = index;">
    <app-team-match [tournament]="tournament" [index]="i" (teamWinner)="chooseWinner($event)"></app-team-match>
  </ul>
</main>